@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

@font-face {
  font-family: 'Inter18Regular';
  src: url('./../public/fonts/Inter_18pt-Regular.ttf'),
    url('./../public/fonts/Inter_18pt-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter24Regular';
  src: url('./../public/fonts/Inter_24pt-Regular.ttf'),
    url('./../public/fonts/Inter_24pt-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Inter18Bold';
  src: url('./../public/fonts/Inter_18pt-Bold.ttf'),
    url('./../public/fonts/Inter_18pt-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter24Bold';
  src: url('./../public/fonts/Inter_24pt-Bold.ttf'),
    url('./../public/fonts/Inter_24pt-Bold.ttf') format('truetype')
}

/* #3C3C43 , .6 */